input[type='radio']{
    appearance: none;
}

input{
    border: none;
    outline: none;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Roboto Condensed', 'Times Now Roman'
}

h1{
    text-align: center;
    margin-top: 5vh;
}

p{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1vh;
}


#head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vw;
    gap: 4vw;
}

#inc, #exp, #bal{
    width: 20vw;
    height: 7vh;
    font-size: 1.5em;
    text-align: center;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    box-shadow: 1px 2px 10px black;
    padding-top: 20px;
}

.main2{
    display: flex;
    gap: 3vw;
}

#add_item{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 15vw;
    width: 30vw;
    padding: 20px;
    backdrop-filter: blur(20px);
    font-size: 1.2em;
    gap: 1vw;
    box-shadow: 1px 2px 10px black;
    border-radius: 15px;
}

#enter{
    width: 30vw;
    padding: 20px;
    backdrop-filter: blur(20px);
    font-size: 1.2em;
    box-shadow: 1px 2px 10px black;
    border-radius: 15px;
}

.radio__label1{
    flex: 1;
    text-align: center;
    padding: 5px 10px;
    background-color: #88B6F2;
    color: white;
    cursor: pointer;
    transition: 0.1s;
}

.radio1{
    display: inline-flex;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px black;
}

.radio__input1:checked + label{
    font-weight: bold;
    background-color: #B3CFF2;
    color: black;
        transform: scale(1.02);
    transition: 0.5s;
}

#detail, #amt{
    background-color: transparent;
    height: 2.5vh;
    padding-left: 1vw;
    font-size: 1em;
    border-radius: 12px;
    box-shadow: 0 0 5px black;
}

.radio2{
    display: inline-flex;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px black;
}

.radio__label{
    flex: 1;
    text-align: center;
    padding: 8px 14px;
    font-size: 20px;
    color: white;
    background-color: #88B6F2;
    cursor: pointer;
    transition:  0.1s;
}

.radio__input:checked + .radio__label{
    font-weight: bold;
    background-color: #B3CFF2;
    color: black;
    transform: scale(1.02);
    transition: 0.5s;
}

#cat{
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: 0 0 5px black;
    border-radius: 12px;
    font-size: 1em;
    cursor: pointer;
}

#submit{
    background-color: transparent;
    font-size: 1.2em;
    border-radius: 12px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px black;
    cursor: pointer;
}
#submit:hover{
    background-color: #B3CFF2;
    transform: scale(1.02);
    transition: 0.5s;
}

#DATE{
    background-color: transparent;
    font-size: 1em;
    border: none;
    outline: none;
    box-shadow: 0 0 5px black;
    border-radius: 12px;
    cursor: pointer;
}

#clear{
    margin-top: 1.5vh;
    background-color: transparent;
    font-size: 1.2em;
    border-radius: 12px;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: 0 0 5px black;
    cursor: pointer;
}
#clear:hover{
    background-color: rgb(194, 26, 26);
    transform: scale(1.02);
    transition: 0.5s;
}

ul li{
    display: grid;
    list-style: none;
    margin-top: 1vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    background-color: aliceblue;
    min-height: 6vh;
    max-height: 6vh;
    border-radius: 12px;
    cursor: pointer;
}

#itm_text{
    font-weight: bold;
    font-size: 1.5em;
}
#itm_amt{
    font-weight: bold;
    margin-top: -1.9em;
    text-align: right;
    font-size: 1.5em;
}
#itm_cat{
    color: grey;
    font-size: 0.9em;
    margin-top: -0.2em;
}
#itm_date{
    text-align: right;
    margin-top: -1.2em;
    font-size: 0.9em;
}

li.income #itm_amt{
    color: green;
}
li.expense #itm_amt{
    color: red;
}

@media (max-width: 599px){
    .main2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4vw;
    }

    #head{
        flex-direction: row;
        gap: 3vw;
        margin: 4vw;
    }

    #inc, #exp, #bal{
        width: 100%;
        height: auto;
        font-size: 1.2em;
        padding: 12px 0;
    }

    #add_item, #enter{
        margin-left: 0;
        width: 80%;
        font-size: 1em;
    }

    input, select, button{
        min-height: 44px;
        font-size: 1em;
    }
}